/* Unset default button borders and backgrounds */
#main-window:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-icon,
#main-window:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-text,
#main-window:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-badge-stack,
#nav-bar toolbarbutton[type="menu-button"] .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-badge-stack,
#nav-bar .toolbarbutton-1:not([buttonover]):not([open]):not(:active) > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]) > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack,
#nav-bar .toolbarbutton-1:not([buttonover]):not([open]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#nav-bar toolbarbutton[type="menu"][open]:not([disabled]) .toolbarbutton-icon,
#nav-bar toolbarbutton[type="menu-button"]:not([open]):hover:not([disabled]):active .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled=true]):-moz-any(:hover:active,:active, [open]) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker:not([disabled=true]) > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-badge-stack,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-text,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-badge-stack,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar toolbarbutton[type="menu-button"] .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-text,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-badge-stack,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([buttonover]):not([open]):not(:active) > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]) > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([buttonover]):not([open]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon ,
#main-window:not([customizing]) #toolbar-menubar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active),
#toolbar-menubar toolbarbutton[type="menu-button"],
#toolbar-menubar .toolbarbutton-1 > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1[open] > .toolbarbutton-menubutton-button,
#toolbar-menubar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1:not([checked]):not([open]):not(:active),
#toolbar-menubar .toolbarbutton-1:not([buttonover]):not([open]):not(:active) > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1:not([disabled=true]) > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-button ,
#toolbar-menubar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover,
#toolbar-menubar .toolbarbutton-1:not([buttonover]):not([open]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#toolbar-menubar toolbarbutton[type="menu"][open]:not([disabled]),
#toolbar-menubar toolbarbutton[type="menu-button"]:not([open]):hover:not([disabled]):active ,
#toolbar-menubar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled=true]):-moz-any(:hover:active,:active,[open]),
#toolbar-menubar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker:not([disabled=true]) > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active,:active),
#TabsToolbar .toolbarbutton-1 .toolbarbutton-badge-stack,
#TabsToolbar .toolbarbutton-1 .toolbarbutton-1 {
  background: unset !important;
  background-color: unset !important;
  border-color: unset !important;
  box-shadow: unset !important;
  transition: unset !important;
}

toolbar:not(#TabsToolbar) .toolbarbutton-1 .toolbarbutton-badge-stack,
toolbar:not(#TabsToolbar) toolbaritem .toolbarbutton-1,
toolbar:not(#TabsToolbar) .toolbarbutton-1,
toolbar:not(#TabsToolbar) .toolbarbutton-1[type="menu-button"] toolbarbutton,
toolbar:not(#TabsToolbar) toolbaritem .toolbarbutton-1 :-moz-any(.toolbarbutton-icon, .toolbarbutton-text),
toolbar:not(#TabsToolbar) .toolbarbutton-1 :-moz-any(.toolbarbutton-icon, .toolbarbutton-text),
toolbar:not(#TabsToolbar) .toolbarbutton-1[type="menu-button"] toolbarbutton :-moz-any(.toolbarbutton-icon, .toolbarbutton-text){
  background: unset !important;
  box-shadow: unset !important;
}

/* Buttons to put text next to icons */
#main-window[uidensity="compact"] #back-button > .toolbarbutton-text,
#main-window[uidensity="compact"] #find-button > .toolbarbutton-text,
#main-window[uidensity="compact"] #library-button > .toolbarbutton-text,
#main-window[uidensity="compact"] #history-panelmenu > .toolbarbutton-text {
  display: -moz-box !important;
  margin-left: -5px !important;
  margin-top: 0px !important;
}

/* Set icon padding for all buttons */
:-moz-any(#back-button,#forward-button,#home-button,#stop-button,#reload-button,#bookmarks-menu-button,#history-panelmenu,
        #privatebrowsing-button,#find-button,#print-button,#fullscreen-button,#developer-button,
	#preferences-button,#cut-button,#copy-button,#paste-button,#zoom-out-button,#zoom-in-button,
	#tabview-button,#email-link-button,#sidebar-button,#web-apps-button,#webide-button,#developer-button,#containers-panelmenu,
	#library-button,#bookmarks-toolbar-placeholder,#nav-bar-overflow-button,#alltabs-button ) .toolbarbutton-icon {
  padding: 3px !important;
}

/* Fix text alignment in find button */
#main-window[uidensity="compact"] #find-button > .toolbarbutton-text {
 margin-top: 2px !important;
}

/* Reduce color */
/*
#nav-bar .toolbarbutton-1 {
  filter: sepia(0%) saturate(90%) contrast(100%) !important;
}*/

#PersonalToolbar * > .toolbarbutton-icon,
#TabsToolbar * > .toolbarbutton-icon { 
   filter: sepia(0%) saturate(20%) contrast(80%) !important;
}

/*Bookmark buttons */

#PersonalToolbar toolbarbutton {
  margin-top: -1px !important;
  margin-bottom: -1px !important;
  padding: 3px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-radius: 0 !important;
  border: 3px solid transparent !important;/*
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important;*/
  margin: 0px !important;
  min-height: 28px !important; 
  max-height: 28px !important;
  background-color: inherit !important;
}

#main-window #PersonalToolbar toolbarbutton:hover {
  border-radius: 0 !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important; }


#main-window #PersonalToolbar toolbarbutton:active {
  border-radius: 0 !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton_pressed.png") !important;
  border-image-slice: 3 3 3 3 !important; 
}

#PersonalToolbar toolbarbutton > .toolbarbutton-icon {
  margin: 0px !important;
  margin-right:2px !important;
  border: none !important;
}

#PersonalToolbar toolbarbutton > .toolbarbutton-text {
  margin:0px !important;
}

/* Replace icons with netscape bookmark icon */
#PlacesToolbarItems > toolbarbutton:nth-child(1) .toolbarbutton-icon {
  height: 32px !important;
  width: 20px !important;
  filter: sepia(0%) saturate(100%) contrast(100%) !important;
  list-style-image: url("image/netscape_history.png") !important;
}


#PlacesChevron .toolbarbutton-icon {
  padding: 0px !important;
  height: 26px !important;
  width: 26px !important;
  filter: sepia(0%) saturate(100%) contrast(100%) !important;
  list-style-image: url("image/bookmarks.png") !important;
}

#OtherBookmarks .toolbarbutton-icon {
  height: 20px !important;
  width: 20px !important;
  filter: sepia(0%) saturate(100%) contrast(100%) !important;
  list-style-image: url("image/more_bookmarks.png") !important;
}

.close,
.notification-button,
.notification-button:hover {
  color: #000 !important;
  background-color: unset !important;
  border-radius: 0 !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important; 
}

.close:active
.notification-button:active {
  border-radius: 0 !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton_pressed.png") !important;
  border-image-slice: 3 3 3 3 !important; 
}

/* General toolbar button borders */
.toolbarbutton-animatable-box {
  display: none !important;
}

#nav-bar .toolbarbutton-1 {
  /*margin: 1px !important;*/
  border: 3px solid transparent !important;
  padding: 1px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  /*border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important;*/
   } 

#nav-bar .toolbarbutton-1:not([disabled="true"]):hover {
  border: 3px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important;

}

#nav-bar .toolbarbutton-1:not([disabled="true"]):active {
  border: 3px solid !important;
  border-image: url("image/toolbarbutton_pressed.png") !important;
  border-image-slice: 3 3 3 3 !important;
}

#main-window:not([uidensity="compact"]) #nav-bar .toolbarbutton-1 > .toolbarbutton-text {
  /*display: -moz-box !important;*/
  margin: 0px !important;
  padding: 0px !important;
  font-size: 7pt !important; }

#nav-bar .toolbarbutton-1 > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  border: none !important;
  border-radius: 1px !important;
}

toolbar toolbaritem .toolbarbutton-1[disabled] .toolbarbutton-text,
toolbar .toolbarbutton-1[disabled]:not([type="menu-button"]) .toolbarbutton-text,
toolbar .toolbarbutton-1[type="menu-button"] toolbarbutton[disabled] .toolbarbutton-text {
  opacity: 0.6 !important;
}

/* Move text next to icons in compact mode, under icons in normal mode. */
#main-window[uidensity="compact"] toolbar:not(#TabsToolbar) toolbaritem .toolbarbutton-1:not([type="menu-button"]),
#main-window[uidensity="compact"] toolbar:not(#TabsToolbar) .toolbarbutton-1:not([type="menu-button"]),
#main-window[uidensity="compact"] toolbar:not(#TabsToolbar) .toolbarbutton-1[type="menu-button"] toolbarbutton{
  -moz-box-orient: horizontal !important;
}

#main-window:not([uidensity="compact"]) toolbar:not(#TabsToolbar) toolbaritem .toolbarbutton-1:not([type="menu-button"]),
#main-window:not([uidensity="compact"]) toolbar:not(#TabsToolbar) .toolbarbutton-1:not([type="menu-button"]),
#main-window:not([uidensity="compact"]) toolbar:not(#TabsToolbar) .toolbarbutton-1[type="menu-button"] toolbarbutton{
  -moz-box-orient: vertical !important;
}

/* Disable transparency for disabled buttons */
.toolbarbutton-1[disabled] {
  opacity: 1 !important;
}

/* Custom icons */
/*
#main-window:not([uidensity="compact"]) #back-button .toolbarbutton-icon {
  display: -moz-box !important;
  margin-bottom: -3px !important;
  margin-top: -5px !important;
  border-radius: 0px !important;
}
*/


#back-button .toolbarbutton-icon {
  list-style-image: url("image/netscape_back.png") !important;
}

#back-button[disabled] .toolbarbutton-icon {
  margin-bottom: -3px !important;
  margin-top: -5px !important;
  list-style-image: url("image/netscape_back_inactive.png") !important;
}

#back-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(150%) !important;
  list-style-image: url("image/netscape_back.png") !important;
}

toolbar:not(#TabsToolbar) #stop-button .toolbarbutton-animatable-image,
toolbar:not(#TabsToolbar) #reload-button .toolbarbutton-animatable-image {
  visibility: collapse !important;
}

toolbar:not(#TabsToolbar) #stop-reload-button[animate] > #reload-button > .toolbarbutton-icon,
toolbar:not(#TabsToolbar) #stop-reload-button[animate] > #reload-button[displaystop] + #stop-button > .toolbarbutton-icon {
  fill: unset !important;
}
/*
#main-window[uidensity="compact"] #back-button .toolbarbutton-icon {
  padding: 5px !important; }
*/
#forward-button .toolbarbutton-icon {
  list-style-image: url("image/netscape_forward.png") !important;
}

#forward-button[disabled] .toolbarbutton-icon {
  list-style-image: url("image/netscape_forward_inactive.png") !important;
}

#forward-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(180%) !important;
  list-style-image: url("image/netscape_forward.png") !important;
}

#stop-button .toolbarbutton-icon {
  list-style-image: url("image/netscape_stop.png") !important;
}

#stop-button[disabled] .toolbarbutton-icon {
  list-style-image: url("image/netscape_stop.png") !important;
}

#stop-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(200%) !important;
  list-style-image: url("image/netscape_stop.png") !important;
}

#reload-button .toolbarbutton-icon {
  list-style-image: url("image/netscape_reload.png") !important;
}

#reload-button[disabled] .toolbarbutton-icon {
  list-style-image: url("image/netscape_reload_inactive.png") !important;
}

#reload-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(150%) !important;
  list-style-image: url("image/netscape_reload.png") !important;
}

#home-button .toolbarbutton-icon {
  list-style-image: url("image/netscape_home.png") !important;
}

#home-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(150%) !important;
  list-style-image: url("image/netscape_home.png") !important;
}

#find-button .toolbarbutton-icon {
  list-style-image: url("image/Find.png") !important;
}

#find-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(150%) !important;
  list-style-image: url("image/netscape_find.png") !important;
}

#print-button .toolbarbutton-icon,
#print-button .toolbarbutton-icon[disabled] {
  list-style-image: url("image/Print.png") !important;
}

#print-button:not([disabled]):hover .toolbarbutton-icon {
  list-style-image: url("image/Print_hover.png") !important;
}

#history-panelmenu .toolbarbutton-icon {
  padding: 3px !important;
  list-style-image: url("image/netscape_history.png") !important;
}

#history-panelmenu:hover .toolbarbutton-icon {
  padding: 3px !important;
  list-style-image: url("image/netscape_history_hover.png") !important;
}

#PanelUI-button, #PanelUI-button:hover {
  margin-right: 1px !important;
  /*visibility: collapse !important;*/
  /*background-size: cover !important;*/
  background-image: url("image/netscape.png") !important;
  /*filter: sepia(0%) saturate(50%) contrast(100%) !important;*/
  background-size: 95% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  /*border: none !important;*/
}

#PanelUI-button .toolbarbutton-badge {
  visibility: collapse !important;
}

#PanelUI-button .toolbarbutton-1 {
  padding: 0px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important;
}

#PanelUI-menu-button .toolbarbutton-icon {
  /*border: none !important;
  margin-top: -2px !important;
  min-height: 20px !important;
  min-width: 20px !important;*/
  visibility: collapse !important;
  /*list-style-image: url("image/menu.png") !important;*/
}


#PanelUI-menu-button .toolbarbutton-icon:hover {
  visibility: collapse !important;
  /*list-style-image: url("image/background.png") !important;*/
}

#tabs-newtab-button .toolbarbutton-icon {
  margin-top: 1px !important;
  background: none !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important;
  padding: 2px !important;
  list-style-image: url("image/newtab.png") !important;
}

#tabs-newtab-button:hover .toolbarbutton-icon {
  border: 3px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important;
  list-style-image: url("image/newtab_hover.png") !important;
}

#tabs-newtab-button:active .toolbarbutton-icon,
#tabs-newtab-button[open="true"] .toolbarbutton-icon {
  background: unset !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton_pressed.png") !important;
  border-image-slice: 3 3 3 3 !important;
}

.tab-close-button {
  visibility: collapse !important;
}


.tab-content:hover .tab-close-button {
  visibility: visible !important;
  padding: 3px !important;
  background: unset !important;
  margin-top:  -1px !important;
  margin-right: -8px !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important;
}

.tab-close-button:hover {
  color: #ff0000 !important;
  visibility: visible !important;
  background-image:  linear-gradient(#ff0000, #c5c5c5) !important;
}

.tab-content[selected="true"] .tab-close-button {
  margin-right: -9px !important;
}


#TabsToolbar-customization-target #add-ons-button .toolbarbutton-icon {
  padding: 5px !important;
  background: unset !important;
  border: 3px solid transparent !important;
  }

#TabsToolbar.browser-toolbar.titlebar-color hbox.toolbar-items hbox#TabsToolbar-customization-target.customization-target toolbarbutton#bookmarks-menu-button.toolbarbutton-1.chromeclass-toolbar-additional.subviewbutton-nav .toolbarbutton-icon,
#TabsToolbar-customization-target > .chromeclass-toolbar-additional .toolbarbutton-badge-stack {
  padding: 3px !important;
  background-color:inherit !important;
  border: unset !important;
  border: 3px solid transparent !important;
}


#TabsToolbar.browser-toolbar.titlebar-color hbox.toolbar-items hbox#TabsToolbar-customization-target.customization-target toolbarbutton#bookmarks-menu-button.toolbarbutton-1.chromeclass-toolbar-additional.subviewbutton-nav:hover .toolbarbutton-icon,
#TabsToolbar-customization-target > .chromeclass-toolbar-additional:hover .toolbarbutton-badge-stack,
#TabsToolbar-customization-target #add-ons-button:hover .toolbarbutton-icon {
  filter: sepia(0%) saturate(100%) contrast(120%) !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important; 
}

#nav-bar #star-button {
  height: 18px !important;
  width: 18px !important;
  padding: 0px !important;
  filter:  saturate(0%) contrast(100%) !important;
  list-style-image: url("image/favorite.png") !important;
}

#nav-bar #star-button:hover {
  filter:  saturate(0%) contrast(100%) !important;
  list-style-image: url("image/favorite.png") !important;
}

#nav-bar #star-button[starred="true"] {
  filter:  saturate(100%) contrast(100%) !important;
}

.toolbarbutton-icon[label="Adblock Plus"] {
  padding: 0px !important;
  margin: 0px !important;
  max-height: 16px !important;
  /*list-style-image: url("image/adblock.png") !important;*/
}

#bookmarks-menu-button .toolbarbutton-icon {
  margin-top: -2px !important;
  background: unset !important;
  padding: 4px !important;
  list-style-image: url("image/Favorites.png") !important;
}

#bookmarks-menu-button:hover .toolbarbutton-icon {
  list-style-image: url("image/Favorites_hover.png") !important;
}

#cut-button .toolbarbutton-icon {
  list-style-image: url("image/Cut.png") !important;
}

#cut-button:hover .toolbarbutton-icon {
  list-style-image: url("image/Cut_hover.png") !important;
}

#copy-button .toolbarbutton-icon {
  list-style-image: url("image/Copy.png") !important;
}

#copy-button:hover .toolbarbutton-icon {
  list-style-image: url("image/Copy_hover.png") !important;
}

#paste-button .toolbarbutton-icon {
  list-style-image: url("image/Paste.png") !important;
}

#paste-button:hover .toolbarbutton-icon {
  list-style-image: url("image/Paste_hover.png") !important;
}

#pocket-button {
  margin-top: -2px !important;
  padding: 2px !important;
  list-style-image: url("image/Drive.png") !important;
}

#pocket-button:hover {
  list-style-image: url("image/Drive_hover.png") !important;
}

#reader-mode-button-icon {
  padding: 0px !important;
  height: 19px !important;
  width: 18px !important;
  list-style-image: url("image/read.png") !important;
}

/*
#fxa-toolbar-menu-button .toolbarbutton-icon {
  padding: 0px !important;
  list-style-image: url("image/user.png") !important;
}

#fxa-toolbar-menu-button:hover .toolbarbutton-icon {
  list-style-image: url("image/user_hover.png") !important;
}
*/

/* Certificate icons */

/*
.verifiedDomain {
  margin-top: 4px !important;
  margin-bottom: 3px !important;
  margin-right: 3px !important;
  border-right: 1px solid #7bb788 !important;
  border-left: 1px solid #7bb788 !important;
  background-image: linear-gradient(#a3e6b1, #7bb788, #a3e6b1, transparent) !important;
}

.notSecure {
  margin-top: 4px !important;
  margin-bottom: 3px !important;
  margin-right: 3px !important;
  background-image: linear-gradient(#ee0000, #ff0000, #bb0000, transparent) !important;
}
*/

#tracking-protection-icon-container:not([hidden]) ~ #identity-box:-moz-any(.verifiedDomain,.verifiedIdentity) #identity-icon,
:-moz-any(.verifiedDomain,.verifiedIdentity) #connection-icon {
  list-style-image: url("image/padlock_modern.png") !important;
}
#tracking-protection-icon-container:not([hidden]) ~ #identity-box:-moz-any(.insecureLoginForms,.mixedActiveContent,.notSecure) #identity-icon,
:-moz-any(.insecureLoginForms,.mixedActiveContent,.notSecure) #connection-icon {
  list-style-image: url("image/padlock_modern_mal.png") !important;
}

#tracking-protection-icon-container:not([hidden]) ~ #identity-box:-moz-any(.weakCipher,.mixedDisplayContent,.mixedDisplayContentLoadedActiveBlocked,.certUserOverridden) #identity-icon,
:-moz-any(.weakCipher,.mixedDisplayContent,.mixedDisplayContentLoadedActiveBlocked,.certUserOverridden) #connection-icon {
  list-style-image: url("image/padlock_modern_mpl.png") !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}

#tracking-protection-icon-container:not([hidden]) ~ #identity-box.mixedActiveBlocked #identity-icon,
.mixedActiveBlocked #connection-icon {
  list-style-image: url("image/padlock_modern_mab.png") !important;
}
