/* remove default tab colors */
:root {
 --tab-min-height: 25px !important; }

.tab-line {                             /* = light top line in selected tab in Quantum default */
    display: none !important;
}

.tab-background {
   padding: unset !important;
   border: transparent !important;
   background: transparent;
   color: transparent;
   opacity: 0.0;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"],
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab, .tab-content {
   max-height: 24px !important;
   border: unset !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] {
   border: unset !important;

}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab {
  margin-right: 1px !important;
  margin-left: 1px !important;
  /*box-shadow: 0 -1px 2px #404040 inset !important;*/
  padding: 0px !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important;}
  
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"],
.tabbrowser-tab[visuallyselected="true"] {
  z-index: 0 !important;
  margin-right: 1px !important;
  margin-left: 1px !important;
  padding: 0px !important;
  /*box-shadow: 0 -1px #c2c2c2 inset !important;*/
  box-shadow: unset !important;
  border: 3px solid !important;
  /*box-shadow: 1px 1px #505050 inset, -1px -1px 2px #dddddd inset !important;*/
  border-image: url("image/toolbarbutton_pressed.png") !important;
  border-image-slice: 3 3 3 3 !important; }

.tab-content {
   padding: unset !important;
   max-height: 20px !important;
   padding-left: 8px !important;
   padding-right: 8px !important;
}

.tab-content[selected="true"] {
   box-shadow: unset !important;
}

.tab-content[selected="true"]:hover {
   color: #000 !important;
}

spacer[part=overflow-start-indicator], 
spacer[part=overflow-end-indicator] {
  display: none !important; }

.tab-icon-image {
   filter: sepia(0%) saturate(20%) contrast(100%);
   margin-top: 0px !important;
   margin-left: -3px !important;
   margin-right: 3px !important;
}

.tabbrowser-tab stack.tab-stack {
   margin-top: -1px !important;
}

.tabbrowser-tab[selected="true"] stack.tab-stack {
   margin-top: 0px !important;
}

.tab-icon-image {
   filter: sepia(0%) saturate(20%) contrast(100%);
   margin-left: -3px !important;
   margin-right: 3px !important;
}

.tab-text {
  font-family: Arial, Helvetica, sans-serif !important;
  margin-top: -1px !important;
  font-size: 13px !important;
}
/*
.tab-text {
   height: 5px !important;
   max-height: 5px !important;
   top: 0px !important;
   bottom: 0px !important;
   margin-top: -7px !important;
   margin-left: 2px !important;
}

.tabbrowser-tab[visuallyselected="true"] .tab-text {
   height: 5px !important;
   top: 0px !important;
   bottom: 0px !important;
   margin-top: -5px !important;
   margin-left: 2px !important;
}


*/ 