/* Bookmark panel ui */

#editBookmarkPanel {
  font: unset !important;
  font-weight: unset !important;
  font-weight: unset !important;
  padding: 0px !important;
  border: 1px solid var(--border_bg) !important;
  /*box-shadow: 1px 1px #fff inset, -2px -2px #808080 inset !important;*/
  background-color: var(--bg_color) !important;
}

#editBookmarkPanel > .panel-subview-body {
  background-color: var(--bg_color) !important;
  padding-block: 0;
}

html|img#editBookmarkPanelFavicon[src] {
  background-color: var(--bg_color) !important;
}

#editBookmarkPanelImage {
  border-radius: 0px !important;;
  margin: 2px !important;
}  

#editBookmarkPanelRows,
#editBookmarkPanelBottomContent {
  background-color: var(--bg_color) !important;
}

#editBookmarkPanel > .panel-header {
  min-height: unset !important;
  font-size: 80% !important;
  font-weight: bold !important;
  font-family: sans-serif !important;
  box-shadow: 0px 0px #808080 inset, 0px -1px var(--border_bg) inset !important;
  padding: 0px !important;
  margin: 0px !important;
  color: var(--selected_fg) !important;
  border-bottom: 10px var(--bg_color) solid !important;
  background-color: var(--selected_bg) !important;
}

html|img#editBookmarkPanelFavicon[src] {
  visibility:  collapse !important; 
}

#editBookmarkPanelRows > vbox > html|input,
#editBookmarkPanelRows > vbox > hbox > html|input {
  outline: none !important;
  padding: 2px !important;
  border-radius: 0px !important;
  border: 1px solid var(--border_bg) !important;
}

#editBookmarkPanel .expander-up:focus-visible,
#editBookmarkPanel .expander-down:focus-visible,
#editBMPanel_newFolderButton:focus-visible {
  border-color: 1px solid var(--border_bg) !important;
  outline: var(--border_bg);
  outline-offset: 0px;
}

#editBMPanel_folderTree:focus-visible,
#editBMPanel_tagsSelector:focus-visible,
#editBookmarkPanelRows > vbox > html|input:focus-visible,
#editBookmarkPanelRows > vbox > hbox > html|input:focus-visible {
  border-color: 1px solid var(--border_bg) !important;
  outline: var(--border_bg);
  outline-offset: 0px;
}

#editBookmarkPanel > #editBookmarkHeaderSeparator,
#editBookmarkPanel > .panel-subview-body > #editBookmarkSeparator {
  visibility: collapse !important;
  margin-bottom: 0;
  margin-inline: 0px;
}

#editBookmarkPanelRows input,
#editBMPanel_folderTree:focus-visible,
#editBMPanel_tagsSelector:focus-visible,
#editBookmarkPanel .expander-up:focus-visible,
#editBookmarkPanel .expander-down:focus-visible,
#editBMPanel_newFolderButton:focus-visible {
  padding: 2px !important;
  border: 1px sold #000 !important;
  outline: none important;
  border-radius: 0px !important;
}

#editBookmarkPanelRows input:active {
  border: unset !important;
  border: 1px solid #000 !important;
  outline: 1px solid #000 !important;
  outline-offset: 0px !important;  
}

#editBMPanel_folderMenuList {
  border: 1px sold #000 !important;
  outline: none !important }

#editBookmarkPanel .expander-up,
#editBookmarkPanel .expander-down,
#editBMPanel_folderMenuList,
#editBMPanel_newFolderButton,
#editBookmarkPanelBottomButtons > button {
    min-width: 24px !important;
    min-height: 24px !important;
    background-color: #c3c3c3 !important;
    color: #000 !important;
    outline: unset !important;
    border-radius: 0px !important;
    margin-top: 0;
    padding: 2px !important;
    border: 3px solid !important;
    border-image: url("image/toolbarbutton.png") !important;
    border-image-slice: 3 3 3 3 !important;
}

menupopup,
.menupopup-arrowscrollbox{ 
    border-radius: 0 !important; 
}
    
:root{
  --arrowpanel-border-radius:0px !important;
}

#editBMPanel_newFolderButton {
  padding: 2px !important;
  border-radius: 0px !important;
}

#editBookmarkPanelBottomButtons > button {
  font: unset !important;
  font-weight: unset !important;
  font-weight: unset !important;
  padding: 2px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}



