:root {
  --selected_fg: HighlightText;
  --selected_bg: Highlight;
  --bg_color: Window;
  --fg_color: WindowText;
  --button_bg: #c3c3c3;
  --button_fg: ButtonText;
  --menu_fg: MenuText;
  --menu_bg: Menu;
  --border_bg: WindowText;
  --canvas_bg: Canvas;
}