#downloadsPanel-blockedSubview,
#downloadsPanel-mainView {
  font: unset !important;
  font-size: unset !important;
  min-width: 25em;
  padding: 1px !important;

  #downloadsListBox > richlistitem {
    /* Leave space for the 32x32 icon with 16px vertical padding, and/or
     * the text in the item, with the same padding, whichever is bigger: */
    height: max(48px, calc(16px + 2em));
    padding-inline-end: 2px !important;
    margin: 0 0 8px;
    border-radius: 0px !important;
  }
  
  .downloadMainArea {
    padding-block: 0px !important;
    padding-inline-start: 2px !important;
    border-radius: 0px !important;
  }