findbar {
    min-height: unset !important;
    padding: 3px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: var(--menu_bg) !important;
    border-top: 1px solid ThreeDShadow;
    min-width: 1px;
    transition-duration: 0s !important;
    padding-block: 2px;
}

.findbar-textbox {
    margin: 2px !important;
    margin-left: 0px !important;
    min-height: unset !important;
    padding: 2px !important;
    border-radius: 0px !important;
}

.findbar-textbox:focus {
    border: 1px solid var(--border_bg) !important;
    outline: none !important;
}

.findbar-find-previous,
.findbar-find-next,
.findbar-closebutton {
  border: 3px transparent solid !important;
  border-radius: 0px !important;
}

.findbar-find-previous:not([disabled]):hover,
.findbar-find-next:not([disabled]):hover,
.findbar-closebutton:hover {
  background: unset !important;
  background-color: var(--button_bg) !important;
  border-radius: 2px !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important; }


.findbar-find-previous:not([disabled]):hover:active,
.findbar-find-next:not([disabled]):hover:active
.findbar-closebutton:hover:active {
  background: unset !important;
  background-color: var(--button_bg) !important;
  border-radius: 2px !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton_pressed.png") !important;
  border-image-slice: 3 3 3 3 !important; }

.findbar-highlight,
.findbar-case-sensitive,
.findbar-match-diacritics,
.findbar-entire-word,
.findbar-label {
  margin: 0 4px;
}

.findbar-find-status,
.found-matches {
  margin-inline-start: 4px;
}

.checkbox-check {
  border-radius: 0px !important;
  border: 1px solid var(--border_bg) !important;
}

.checkbox-check[checked="true"] {
  color: unset !important;
  background-color: unset !important;
  border: 1px solid var(--border_bg) !important;
  background-color: var(--input_bg) !important;
}

.findbar-closebutton {
  margin-right: 4px !important;
}
