/* Library/downloads Window */


#placesToolbar #searchFilter {
  padding: 2px !important;
  border: 1px solid #ff0000 !important;
}

window#places hbox#placesView vbox#contentView vbox#detailsPane {
  box-shadow: 1px 1px #fff inset, -2px -2px #808080 !important;
}

#placesToolbar .menu-iconic1,
window#places toolbox#placesToolbox toolbar#placesToolbar.chromeclass-toolbar toolbarbutton#clearDownloadsButton.tabbable,
#placesToolbox toolbar#placesToolbar.chromeclass-toolbar menubar#placesMenu menu#organizeButton {
  background-color: #c3c3c3 !important;
  border: 3px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important;
  padding: 2px !important;
  margin: 1px !important;
}

splitter {
  min-width: unset !important;
  width: 1px !important;
}

toolbar:not(#TabsToolbar) #stop-button .toolbarbutton-animatable-image,
toolbar:not(#TabsToolbar) #reload-button .toolbarbutton-animatable-image {
  visibility: collapse !important;
}

window#places toolbox#placesToolbox toolbar#placesToolbar.chromeclass-toolbar #back-button, 
window#places toolbox#placesToolbox toolbar#placesToolbar.chromeclass-toolbar #forward-button {
  visibility: collapse !important;
  margin: unset !important;
  padding: unset !important;
}

richlistitem.download {
  outline: none !important;
  border: unset !important;
  height: unset !important;
  padding: 0px !important;
}

#placesView {
  z-index: 5 !important;
  /*margin-left: -4px !important;*/
}

#contentView {
  /*margin-left: -4px !important;*/
}

window#places hbox#placesView vbox#contentView vbox#detailsPane {
  box-shadow: 1px 1px #fff inset, -2px -2px #808080 inset !important;
  border-top: 1px solid #000 !important;
}

window#places hbox#placesView tree#placesList.plain.placesTree treecols treecol {
  outline: none !important;
  border: unset !important
}

window#places splitter {
  appearance: none !important;
  background-color: var(--border_bg);
  min-width: 1px !important;
}

/* Library window navbar */
window#places toolbox#placesToolbox toolbar#placesToolbar.chromeclass-toolbar {
  border: unset !important;
  padding: 5px !important;
  background: unset !important;
  background-color: var(--bg_color) !important;
  box-shadow: 1px 1px #fff inset, -2px -2px #808080 inset !important;
  border-bottom: 1px solid #000 !important;
}