/* remove default tab colors */
:root {
 --tab-min-height: 28px !important; }

.tab-line {                             /* = light top line in selected tab in Quantum default */
    display: none !important;
}

.tab-background {
   border: transparent !important;
   background: transparent;
   color: transparent;
   opacity: 0.0;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"],
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab, .tab-content {
   max-height: 25px !important;
   border: unset !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] {
   border: unset !important;
   margin-right: 0px !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab {
  /*box-shadow: 0 -1px 2px #404040 inset !important;*/
  border: 2px solid !important;
  border-top: 1px solid !important;
  border-left: 1px solid !important;
  /*box-shadow: 0 -1px #c0c0c0 inset !important;*/
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important;/}
  
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"],
.tabbrowser-tab[visuallyselected="true"] {
  /*box-shadow: 0 -1px #c2c2c2 inset !important;*/
  box-shadow: unset !important;
  border: 3px solid !important;
  border-top: 0px !important;
  border-right: 2px solid !important;
  border-image: url("image/toolbarbutton.png") !important;
  border-image-slice: 3 3 3 3 !important; }

.tab-content {
   max-height: 24px !important;
   /*box-shadow: 0 1px #707070 inset !important;*/
   padding-left: 8px !important;
   padding-right: 8px !important;
   background-image: linear-gradient(#c5c5c5, #c5c5c5) !important;
   /*background-image: linear-gradient(#ffc5c8, #d4d0c8) !important; */
}

.tab-content:hover {
   background-image: linear-gradient(#fac67e, #c5c5c5) !important;
}

.tab-content[selected="true"] {
   box-shadow: unset !important;
   /*color: #fff !important;*/
   background-image: linear-gradient(#99bae2, transparent) !important;
}

.tab-content[selected="true"]:hover {
   /*color: #fff !important;*/
   background-image: linear-gradient(#9fccdf, transparent) !important;
}

/* Disable secondary tab label due to reduced tab hiight */
.tab-secondary-label {
   visibility: collapse !important;
}

/*
#tabs-newtab-button {
   border-right: 1px solid #fff !important;
   box-shadow: inset -1px 0px #505050 !important;
}*/

spacer[part=overflow-start-indicator], 
spacer[part=overflow-end-indicator] {
  display: none !important; }

.tab-icon-image {
   filter: sepia(0%) saturate(20%) contrast(100%);
   margin-top: 1px !important;
   margin-left: -3px !important;
   margin-right: 3px !important;
}

.tab-text {
   margin-left: 2px !important;
   margin-top: -2px !important;
}
